.links {
  display: flex;
  justify-content: space-between;
  padding: var(--l);
  background-color: var(--secundary--color--background);
}

.links-items {
  display: flex;
  justify-content: center;
  padding: var(--l);
}

.links-title {
  font-size: xx-large;
  font-weight: bold;
  align-self: center;
  padding: var(--l);
  margin-top: 0px;
  padding-top: 0px;
}

ul {
  font-size: 24px;
  padding-left: var(--m);
  margin-left: var(--xl);
}

.link {
  margin: var(--l);
  font-size: small;
  text-align: center;
}

.link-title {
  font-size: 26px;
}

a {
  text-decoration: none;
}
